@import '../helpers/variables';
@import '../helpers/mixins';

@include autoCompleteKeyframes();
// 0% {
//   opacity: 0;
// }
// 100% {
//   opacity: 1;
// }
// ;

mark {
  background: none;
  color: none;
}

ul.auto-complete-result {
  display: block;
  background: $white;
  margin: 0;
  padding: 0;
  letter-spacing: 0.075em;
  text-align: left;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid $grey-1;
  border-top: 0 solid $grey-1;
  animation: fadeIn 1.2s ease;
  list-style-type: none;
  font-size: 0.85rem;

  li.auto-complete-result-item {
    padding-left: 15px;
    border-bottom: 1px solid $grey-1;
    display: flex;
    overflow: hidden;
    cursor: pointer;

    a {
      padding: 10px 0px;
    }

    &:last-child {
      border-bottom: none;
    }

    &.selected-item {
      background-color: $grey-1;
    }

    &.hovered {
      background-color: $grey-1;
    }
  }
}

.highlighted {
  color: #bebebe;
}
